.loginPage {
  width: 600px;
  margin: 0 auto;
  margin-top: 10%;
  text-align: center;
  font-size: 25px;
}

.credential {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

button {
  font-size: 20px;
  padding: 20px;
  margin-left: 50%;
  padding-top: 13px;
  padding-bottom: 10px;
  display: flex;
  border-radius: 40px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  border: none;
  color: white;
  background-color: #7761ea;
}
button:hover {
  background-color: #674bf3;
}
.lockIcon {
  margin-right: 10px;
  margin-top: 4px;
}
.inputField {
  font-size: 25px;
}
.home__cardDisplay {
  display: grid;
  grid-template-columns: 6fr 6fr;
}

.home__userDetails {
  background: transparent;
  color: transparent;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  /*padding: 10px;*/
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.home__userDetailsBack {
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.home__userImg {
  height: 200px;
  object-fit: contain;
  width: 200px;
}

.home__userPersonalDetails {
  display: flex;
  padding: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.home__userImgDiv {
  width: 30%;
  text-align: center;
}
.home__userTextDetails {
  padding-top: 2%;
}

.gap {
  margin-left: 10px;
  margin-top: 18px;
}

.home__userTable {
  margin-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  width: 100%;
}

.bg-primary {
  background-color: #221f30;
}

.MuiInputLabel-root {
  color: white !important;
  outline-color: white !important;
  border-color: white;
}
.MuiOutlinedInput-notchedOutline {
  border-color: rgb(114, 110, 110) !important;
}
.buttonDiv {
  max-width: 150px;
  margin: 0 auto;
}
.buttonComp {
  border-radius: 20px;
}
.registerTitle {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 200px;
}
.registerColor {
  color: rgb(240, 142, 240);
}

.MuiInputBase-input {
  color: white !important;
  outline-color: white !important;
  border-color: white !important;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 2px solid white !important;
}

.MuiInput-underline:before {
  border-bottom: 1px solid rgb(204, 198, 198) !important;
}

.filterByDate {
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 25px;
}

.submitBtn {
  margin-left: 20px;
}
.progressDiv {
  width: 100px;
  margin: 0 auto;
}
.noDataFound {
  color: white;
  text-align: center;
  margin-top: 10%;
}
.searchUser {
  width: 250px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 25px;
}
