.homeData {
  color: white;
}
.summaryData {
  width: 80%;
  display: grid;
  grid-template-columns: 4fr 6fr;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.totalData {
  width: 80%;
  margin: 0 auto;
  height: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: larger;
  font-weight: bold;
}
.homeSection2 {
  width: 95%;
  margin: 0 auto;
  /* margin-right: 10px; */
  background-color: rgb(28, 25, 41);
  padding-left: 40px;
  padding-top: 20px;
  min-height: 240px;
}
.homeSection2__display {
  display: grid;
  grid-template-columns: 3fr 1fr 8fr;
}
.accordianHome {
  width: 100%;
  vertical-align: middle;
}
.todayStats {
  font-size: 30px;
  margin-bottom: 3%;
}
