.heading {
  margin-top: 25%;
}

.heading:hover {
  border-right: 3px solid white;
}

.sideBarDiv {
  cursor: pointer !important;
}

.menubutton {
  background-color: #302d40;
  padding : 22px;
}

.menubutton:hover {
  background-color: #35324b;
}

.activeroute {
  background-color: black;
}